:root{
    --light-red : hsl(356, 100%, 66%);
    --red : hsl(355, 100%, 74%);
    --white : hsl(0, 0%, 100%);
    --grey : hsl(240, 2%, 79%);
    --blue1 : hsl(208, 49%, 24%);
    --blue2 :  hsl(207, 13%, 34%);

    --border-radius : 3.5rem;
}